<ion-view view-title="搜索" hide-nav-bar="true">
  <ion-header-bar align-title="center" class="bar-positive">
  <button ng-click="goBack()" class="button button-icon icon ion-arrow-left-c"></button>	
  <h1 class="title">搜索</h1>
  <a href="#/person" class="button button-icon icon ion-ios-person"></a>
</ion-header-bar>
 <div style="height:50px;padding:0px;" class="bar bar-subheader bar-stable item-input-inset">
            <label style="width:100% !important;height:100%;padding:0px;margin:0px;" class="item-input-inset">
			<center style="width:100%;">
			<form action="#">
			    <input style="height:30px;width:85%;border:2px solid #c3c3c3;border-radius:15px;padding-left:30px;background:url('images/search_17.png') no-repeat 3px 5px scroll transparent;" type="search" placeholder="请输入你的关键字">
			</form>
            </center>
			</label>
        </div>
	
    <ion-content has-header="true" delegate-handle="searchScoll" has-scroll="true" style="padding-top:50px;">
       <ion-list>
        <ion-item ng-repeat="i in items" style="padding:0px;border:none;">
            <div class="list" style="margin:0px;">
                <div class="item" style="height:100px;padding:4px;">
				<div style="float:left;">
                    <img style="border-radius:0px;width:130px;max-width:130px;height:90px;max-height:90px;" src="images/sydney.jpg" />
					</div>
					<div style="float:left;margin-left:10px;">
					<h2>图片{{$index+1}}的标题</h2>
                    <p>图片{{i.id}}的内容</p>
					</div>
                </div>
            </div>
        </ion-item>
		</ion-list>
		<ion-infinite-scroll on-infinite="loadMore()"  ng-if="maxMore()"></ion-infinite-scroll>
    </ion-content>
</ion-view>
