<ion-view title="我的工作">
    <ion-content>
    	 <div class="card">
            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick">
            </canvas>
        </div>
        <div class="card">
            <canvas id="pie" class="chart chart-pie" chart-options="{animateRotate : false}" chart-data="data1" chart-labels="labels1">
            </canvas>
        </div>
        <div class="card">
            <canvas  id="radar" class="chart chart-radar" chart-data="data2" chart-labels="labels2">
            </canvas>
        </div>
    </ion-content>
</ion-view>